<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa arvostelua</title>
</head>

<body>
  <h1>Muokkaa arvostelua</h1>

  <form action="/update_review" method="post">

    <p>
      Kirjan nimi: <br />
      <input type="text" name="title" value="{{ review.title }}" maxlength="50" required />
    </p>

    <p>
      Kirjailija: <br />
      <input type="text" name="author" value="{{ review.author }}" maxlength="50" required />
    </p>

    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required>{{ review.description }}</textarea>
    </p>

    <input type="hidden" name="review_id" value="{{ review.id }}" />

    {% for class in all_classes %}
      <p>
        {{ class }}: <br />
        <select name="classes">
          {% for option in all_classes[class] %}
            {% if classes[class] == option %}
            <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
            {% else %}
            <option value="{{ class }}:{{ option }}" >{{ option }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </p>
    {% endfor %}

    <input type="submit" value="Päivitä arvostelua" />

  </form>
</body>

</html>
