<!DOCTYPE html>
<html>

<head>
  <title>Kirjautuminen</title>
</head>
<body>
  <h1>Book Review App</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}
  <p>
   <a href="/login">Kirjaudu sisään</a>
   <a href="/register">Luo tunnus</a>
   <a href="/Logout">Kirjaudu ulos</a>
   </p>
   <p>
     <a href="/new_review">Uusi arvostelu</a>
   </p>
   <h2>Arvostelut</h2>
   <ul>
     {% for review in reviews %}
     <li><a href="/review/{{ review.id }}">{{ review.title }}</a></li>
     {% endfor %}  
   </ul>
</body>

</html>
