{% extends "auth_layout.html" %}

{% block title %}Kirjaudu{% endblock %}

{% block content %}

<h2>Kirjaudu sisään</h2>

{% for message in get_flashed_messages() %}
  <p><b>{{ message }}</b></p>
{% endfor %}

<form action="/login" method="post">

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

  <p>
    Tunnus:<br>
    <input type="text" name="username" required>
  </p>

  <p>
    Salasana:<br>
    <input type="password" name="password" required>
  </p>

  <input type="submit" value="Kirjaudu">

</form>

<p><a href="/register">Luo tunnus</a></p>

{% endblock %}
