<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
  <h1>Uusi arvostelu</h1>
  <form action="/create_review" method="post">
    <p>
      Kirjan nimi: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    <p>
      Kirjailija: <br />
      <input type="text" name="author" maxlength="50" required />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
     Genre: <br />
     <select name="genre">
      <option value="kaunokirjallisuus">kaunokirjallisuus</option>
      <option value="jännitys">jännitys</option>
      <option value="fantasia">fantasia</option>
      <option value="scifi">scifi</option>
      <option value="romantiikka">romantiikka</option>
     </select>
    </p>
     Arvosana: <br />
     <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
     </select>
     </p>
    <input type="submit" value="Luo arvostelu" />
  </form>
</body>

</html>
