{% extends "layout.html" %}

{% block title %}Poista arvostelu{% endblock %}

{% block content %}

<h2>Poista arvostelu</h2>

<div class="review">
  <p><b>{{ review.title }}</b></p>
  <p>Kirjoittaja: {{ review.author }}</p>
</div>

<p>Haluatko varmasti poistaa tämän arvostelun?</p>

<form action="/remove_review/{{ review.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

  <button type="submit" name="remove">Poista</button>
  <a href="/review/{{ review.id }}">Peruuta</a>
</form>

{% endblock %}
